.card-link {
  text-decoration: none;
  color: black;
}

.image {
  height: 300px;
}

.cardBody {
  height: 160px;
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;

  z-index: 1;
  fill: #ffa500;
}

.cardBody:before {
  content: '';
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.cardBody:hover::before {
  background: #2b4257;
  top: 0;
  border-radius: 0px;
}

.cardBody:hover {
  color: white;
  background: #ffa600;
  fill: #6fa8cc;
}
