.userSection {
  background: #f6f9fe;
  max-height: 90vh;
}

.bg {
  background: white;
  border: 1px solid black;
}

.bg h2 {
  font-size: 20px;
}

@media (min-width: 768px) {
  .side {
    margin-left: 220px;
    margin-right: 20px;
  }
}
